#myModal.modal.fade aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" style=("display: none;") tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
        h4#myModalLabel.modal-title
      .modal-body
        table
          tbody
            tr
              td
                strong Email: 
              td#email
            tr
              td colspan="3"
                strong Address:
                p#address
      .modal-footer
        button.btn.btn-default data-dismiss="modal" type="button"  Close
