= form_for(@beer) do |f|
  - if @beer.errors.any?
    #error_explanation
      ul.alert.alert-danger
        - @beer.errors.full_messages.each do |message|
          li = message
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :category
    = f.select :category_id, @categories ,{include_blank: true}, {class: "form-control"}
  .form-group
    = f.label :manufacturer
    = f.text_field :manufacturer, class: "form-control"
  .form-group
    = f.label :country
    = f.text_field :country, class: "form-control"
  .form-group
    = f.label :price
    = f.number_field :price, class: "form-control", :step => 'any'
  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control", rows: "5"
  .actions
    = f.submit "Submit", class: "btn btn-primary"
