h1.page-header Listing Beers
- if notice
  .alert.alert-success
    = notice
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading Table
      .panel-body
        .table-responsive
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th.col-lg-1.text-center #
                th.col-lg-2.text-center Name
                th.col-lg-2.text-center Manufacturer
                th.col-lg-2.text-center Country
                th.col-lg-1.text-center Price
                th.col-lg-3.text-center Action
            tbody
              = render partial: "beer", collection: @beers
#category-modal
  = render "modal_show"
.row
  .pull-left
    .text-center
      = paginate @beers, :theme => 'twitter-bootstrap-3'
  .pull-right.pagination
    = link_to 'New Beer', new_beer_path, class: "btn btn-default"
